<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shopping List App</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="shopping-list">
    <div class="header">
      <h1>{{ header || 'Welcome' }}</h1>
      <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</button>
      <button v-else @click="doEdit(true)" class="btn btn-primary">Add item</button>
    </div>
    

    <div v-if="editing" class="add-item-form">
      <input 
        @keyup.enter="saveItem" 
        v-model="newItem" type="text" placeholder="Add an item">
        <p class="counter">{{characterCount}}/200</p>
      <label>
        <input type="checkbox" v-model="newItemHighPriority">
        High Priority
      </label>
      
      <button 
        v-bind:disabled="newItem.length < 5"
        @click="saveItem" 
        class="btn btn-primary">
        Save item
      </button>

    </div>

    <p v-if="items.length === 0">Nothing left to buy!</p>

    <ul>
      <li v-for="item in reversedItems" :key="item.id"
        @click="togglePurchased(item)"
        :class="{strikeout: item.purchased, priority: item.highPriority}"
        class="static-class"
        >{{item.id}}. {{item.label}}</li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3"></script>

  <script>
    Vue.createApp({
      data() {
        return {
          header: 'Shopping List App',
          newItem: '',
          editing: false,
          newItemHighPriority: false,
          items: [
            {id: 1, label: "10 party hats", purchased: true, highPriority: false},
            {id: 2, label: "2 boardgames", purchased: true, highPriority: false},
            {id: 3, label: "20 cups", purchased: false, highPriority: true}
          ]
        }
      },
      computed:{
        characterCount(){
          return this.newItem.length
        },
        reversedItems(){
          return [...this.items].reverse()
        }
      },
      methods:{
          saveItem(){
            this.items.push({
              id:this.items.length + 1, 
              label: this.newItem,
              highPriority: this.newItemHighPriority
            })
            this.newItem = ''
            this.newItemHighPriority = ''
          },
          doEdit(editing){
            this.editing = editing
            this.newItem = ''
            this.newItemHighPriority = ''
          },
          togglePurchased(item){
            item.purchased = !item.purchased
          }
        }
    }).mount('#shopping-list')
  </script>
</body>

</html>