<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shopping List App</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="shopping-list">
    <h1>{{ header || 'Welcome' }}</h1>

    <input v-model="newItem" type="text" placeholder="Add an item">
    
    <label>
      Priority
      <select v-model="newItemPrority">
        <option value="low">Low</option>
        <option value="high">High</option>
      </select>
    </label>
    <br>

    <ul>
      <li v-for="(item, index) in items" :key="item.id">{{item.id}}. {{item.label}}</li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3"></script>

  <script>
    Vue.createApp({
      data() {
        return {
          header: 'Shopping List App',
          newItem: '',
          newItemPriority: 'low',
          items: [
            {id: 1, label: "10 party hats"},
            {id: 2, label: "2 boardgames"},
            {id: 3, label: "20 cups"}
          ]
        }
      }
    }).mount('#shopping-list')
  </script>
</body>

</html>