<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>My Shop</title>
  <link rel="stylesheet" href="./styles/site.css" type="text/css" >
</head>

<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product">
      <div class="product-image">
        <img :src="image" />
      </div>

      <div class="product-info">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <p v-if="inStock">In Stock</p>
        <!-- <p v-show="inStock">In Stock</p> -->
        <!-- <p v-if="inventory > 10">In Stock</p>
        <p v-if-else="inventory <= 10 && inventory > 0">Almost Sold Out!</p> -->
        <p v-else :class="{ outOfStock: !inStock }">Out Of Stock</p>
        <p>{{ sale }}</p>
        <!-- <p v-if="onSale">On Sale!</p> -->
        <!-- <a :href="link" target="_blank">More products like this</a> -->
        <p>Details:</p>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <p>Available colors:</p>
        <div v-for="(variant, index) in variants" 
              :key="variant.variantId"
              class="color-box"
              :style="{ backgroundColor: variant.variantColor }"
              @mouseover="updateProduct(index)">
          <!-- <p @mouseover="updateProduct(variant.variantImage)">{{  }}</p> -->
      </div>
        <p>Sizes:</p>
        <ul>
          <li v-for="size in sizes">{{ size }}</li>
        </ul>

        <!-- <button v-on:click="cart += 1">Add to Cart</button> -->
        <button v-on:click="addToCart" 
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }">
                Add to Cart
        </button>
        <button @click="removeFromCart" 
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }">
                Remove from Cart
        </button>
        <div class="cart">
          <p>Cart({{cart}})</p>
        </div>
      </div>
  </div>
</div> 

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script  src="./scripts/script.js"></script>

</body>
</html>
